<form>
  <input #input1 type="text" name="todo" placeholder="Name">
  <input #input2 type="text" name="todo" placeholder="Price">
  <button type="button" (click)="sendValues(input1.value,input2.value)">Add Todo
  </button>
</form>
<div *ngIf="fetchedData.length > 0">
  <h2>Fetched Data:</h2>
  
  <br>
  <br>
  <table class="custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fetchedData">
        <td>{{ item.id }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <button (click)="deleteItem(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<style>
  .custom-table {
    width: 100%;
    /* Make the table take up the full width of its container */
    text-align: center;
    /* Center text content in table cells */
    border: 1px solid black;
    /* Add a 1px black border to the entire table */
  }

  .custom-table th,
  .custom-table td {
    padding: 8px;
    /* Add some padding to cells for better spacing */
    border-bottom: 1px solid black;
    /* Add a 1px black line between rows */
  }
</style>

<router-outlet></router-outlet>